/* RESET */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FONTS */
@font-face {
    font-family: 'night_machine';
    src: url('../fonts/night_machine-webfont.woff2') format('woff2'),
         url('../fonts/night_machine-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robot_crush';
    src: url('../fonts/robot_crush-webfont.woff2') format('woff2'),
         url('../fonts/robot_crush-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hershey';
    src: url('../fonts/hershey-futuram-webfont.woff2') format('woff2'),
         url('../fonts/hershey-futuram-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hershey_bold';
    src: url('../fonts/hershey-futuram-bold-webfont.woff2') format('woff2'),
         url('../fonts/hershey-futuram-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    max-width: 100% !important;
    width: 100%;
}

/* HEADER */
div.vector-strip{
    width: 100%;
    margin-top: -70px;
}
header a {
	text-decoration: none;
}
.vector-strip{
    height: 170px;
}
img.vector-strip{
    width: 15%;
    transform: rotate(-3deg);
}
img.vector-strip1{
    margin-right: 3%;
}
img.vector-strip2{
    margin-right: 11%;
}
img.vector-strip3{
    margin-right: 2%;
}
img.vector-strip4{
    margin-right: 3%;
}

header.title-container{
    background-color: black;
    font-family: 'night_machine';
    width: 100%;
    text-align: center;
    padding-bottom: 10vh;
    z-index: -2;
}

h1{
    font-size: 78pt;
    color: white;
    margin-top: -20px;
    display: block;
    transform: rotate(-3deg);

}
h1 span{
    color: orange;
}
h2{
    color: white;
    font-size: 48pt;
    transform: rotate(-3deg);

}

nav{
    width: 100%;
    font-family: 'hershey_bold';
    z-index: 100;
    clear: both;
    float: left;
		margin-top: 30px;
}

ul.anchors{
    width: 80%;
    margin: 0 auto;
}

li.buttons{
    width: 100%;
    margin-right: 20px;
    height: 70px;
    background-color: brown;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}

a.bouton-nav{
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}
.strip-container{
    max-width: 100% !important;
    //overflow: hidden;
}
.strip-img{
    width: 100%;
    /* margin-left: -3%; */
		/* margin-right: -3%; */
    margin-top: -25px;
    //transform: rotate(-2deg);
}
img.strip{
    width: 20%;
    float: left;
}

div.cog-container{
    width: 100%;
    text-align: center;
    margin-top: 24px;
}

div.cog-container h3{
	font-family: 'hershey_bold';
	font-size: 20pt;
	line-height: 32pt;

}

a.logo-link{
    width: 158px;
    height: 200px;
    text-align: center;
    display: inline-block;
}

div.cog{
    width: 100%;
    min-height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
}

div.cog1{
    background-image: url('../imgs/cogred.png');
}
div.cog2{
    background-image: url('../imgs/coggreen.png');
}
div.cog3{
    background-image: url('../imgs/coggreen.png');
}
div.cog4{
    background-image: url('../imgs/cogbeige.png');
}
div.cog4-5{
    background-image: url('../imgs/cogbeige.png');
}
div.cog5{
    background-image: url('../imgs/cogyellow.png');
}
div.cog6{
		background-image: url('../imgs/cogtransp.png');
}
div.cog7{
		background-image: url('../imgs/cogtransp.png');
}
div.cog8{
    background-image: url('../imgs/cogred.png');
}
div.cog9{
    background-image: url('../imgs/cogred.png');
}
img.logo{
    width: 60%;
    position: absolute
}

img.logo1{
    top: 50px;
    left: 30px;
}
img.logo2{
    width: 50%;
    top: 30px;
    left: 40px;
}
img.logo3{
    width: 50%;
    top: 35px;
    left: 40px;
}
img.logo4{
    width: 70%;
    top: 40px;
    left: 30px;
}

img.logo4-5{
	width: 67%;
	top: 15px;
	left: 23px;
}
img.logo5{
    width: 50%;
    top: 25px;
    left: 40px;
}
img.logo6{
	width: 70%;
	top: 60px;
	left: 25px;
}
img.logo7{
	top: 30px;
	left: 32px;
}
img.logo8{
    width: 50%;
    left: 40px;
    top: 20px;
}
img.logo9{
    width: 70%;
    left: 25px;
    top: 60px;
}
a.logo-link:nth-of-type(odd){
	transform: rotate(21deg);
	transform-origin: 83px 74px;
}
a.logo-link:nth-of-type(odd) img {
	transform: rotate(-21deg);
}
div.body{
    font-family: hershey;
		width: 96%;
		margin: 0 auto;
		line-height: 20px;
		float: left;
		margin-left: 2%;
		margin-bottom: 20px;
		clear: both;
}

div.body div.column{
	width: 100%;
}

div.body h3{
	font-family: 'hershey_bold';
	font-size: 24pt;
	line-height: 32pt;
	margin-top: 32pt;
}

div.body p{
    -webkit-column-break-after: always;
    //padding-top: 100px;
}

h3.event-title, div#events{
	margin-left: 1%;
	margin-right: 1%;
}

div#events{
	width: 100%;
    clear: both;
    margin-top: 40px;
	margin-bottom: 90px;

}

div#events img.thumb{
    width: 240px;
    margin-bottom: 40px;
}

/* div#events div.title, div#events div.summary, div#events div.author{
    float: left;
} */

div.thumb-container{
    margin-right: 20px;
    clear: both;
}

div.thumb{
    width: 240px;
    height: 160px;
    margin-right: 20px;
    margin-bottom: 40px;
    float: left;

}

div.title a{
    font-size: 20pt;
    text-decoration: none;
    font-family: 'hershey_bold';
    color: black;
    line-height: 24pt;
}

div.title a:hover{
    color: brown;
}

div#events div.date{
}

img{
	//max-width: 30%;
	//height: auto;
	//margin-top: 20px;
	//margin-bottom: 20px;
}

div#events div.itemTitle{
	border-top: 1px dotted black;
	padding-top: 20px;
	margin-top: 60px;
	//float: right;
	//max-width: 59%;
}

div#events div.itemTitle a{
	text-decoration: none;
	font-size: 20pt;
	color: brown;
}

div#events div.itemDate{
	margin-top: 10px;
	//float: right;
}

/*

div#events
	ul.feedEkList
		li
			div.itemTitle
			div.itemDate
			div.itemContent
			div.imgRss
				img

*/

footer{
    width: 100% !important;
    min-height: 120px;
		margin-top: 50px;
		padding-bottom: 20px;
    background-color: black;
    font-family: 'hershey_bold';
    text-align: center;
    bottom: 0;
		float: left;
}

footer span{
    color: white;
    font-size: 20pt;
    display: inline-block;
    text-align: center;
    margin-top: 60px;
    width: 100%;
}

footer div.footer-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

footer img{
    width: 80%;
    margin-top: 20px;
		margin-bottom: 40px;
    text-align: center;
    display: inline-block;
}
@media only screen and (max-width: 450px) {
	h1{
	    font-size: 50pt;
	}
	h2{
	   font-size: 36pt;
	}
	img.vector-strip{
	    width: 35%;
	    //transform: rotate(-3deg);
	}
	img.vector-strip1{
	    margin-right: 3%;
	}
	img.vector-strip2{
	    margin-right: 5%;
	}
	img.vector-strip3{
	 		display: none;
	}
	img.vector-strip4{
	   	display: none;
	}
}

@media only screen and (min-width: 780px) {
	nav{
			margin-top: -100px;
	}
		li.buttons{
        width: 47%;
        margin-bottom: 0px;
    }
		div.body{
		    margin-top: 50px;
		    margin-bottom: 50px;
		}
		div.body div.column{
			width: 45%;
			float: left;
			margin-right: 1%;
			margin-left: 1%;
		}
		footer img{
				width: 30%;
		}
}

@media only screen and (min-width: 1200px) {
    div.cog-container{
        width: 1200px;
        margin-top: 120px;
        min-height: 400px;
        clear: both;
        margin: 0 auto;
				margin-bottom: 120px;
    }

		div#events{
			width: 45%;
		}
		/* div.cog6{
				background-image: none;
		}
		div.cog7{
				background-image: none;
		} */

    a.logo-link{
        width: 158px;
        height: 200px;
        text-align: center;
        display: inline-block;
        position: absolute;
    }
    a.logo-link:nth-of-type(1){
        top: 1100px;
        left: 200px;
				transform: rotate(14deg);
    }
		a.logo-link:nth-of-type(1) img {
			transform: rotate(-14deg);
		}

    a.logo-link:nth-of-type(2){
        top: 1200px;
        left: 330px;
    }
		a.logo-link:nth-of-type(2) img {
			}
    a.logo-link:nth-of-type(3){
        top: 1050px;
        left: 400px;
				transform: rotate(-22deg);
    }
		a.logo-link:nth-of-type(3) img {
			transform: rotate(22deg);
		}
    a.logo-link:nth-of-type(4){
        top: 1100px;
        left: 560px;
				transform: rotate(-10deg);
    }
		a.logo-link:nth-of-type(4) img {
			transform: rotate(10deg);
		}

		a.logo-link:nth-of-type(5){
        top: 1260px;
        left: 560px;
				transform: rotate(30deg);
    }
		a.logo-link:nth-of-type(5) img {
			transform: rotate(-30deg);
		}

    a.logo-link:nth-of-type(6){
        top: 1100px;
        left: 720px;
				transform: rotate(30deg);
    }
		a.logo-link:nth-of-type(6) img {
			transform: rotate(-30deg);
		}

    a.logo-link:nth-of-type(7){
			top: 1050px;
			left: 890px;
			transform: rotate(30deg);
    }
		a.logo-link:nth-of-type(7) img {
			transform: rotate(-30deg);
		}

    a.logo-link:nth-of-type(8){
        top: 970px;
        left: 1025px;
				transform: rotate(0deg);
    }
		a.logo-link:nth-of-type(8) img {
			transform: rotate(0deg);
		}

    a.logo-link:nth-of-type(9){
        top: 1200px;
        left: 960px;
				transform: rotate(0deg);
    }
		a.logo-link:nth-of-type(9) img {
			transform: rotate(0deg);
		}

    a.logo-link:nth-of-type(10){
        top: 1100px;
        left: 1080px;
				transform: rotate(42deg);
    }
		a.logo-link:nth-of-type(10) img {
			transform: rotate(-42deg);
		}
}

@media only screen and (min-width: 1500px) {
    .strip-img{
        margin-top: -50px;
    }

		div.body div.column{
			max-width: 600px;
		}
		div.body{
			margin-left: 16%;
		}

		a.logo-link:nth-of-type(1){
        left: calc(200px + 180px);
    }
    a.logo-link:nth-of-type(2){
        left: calc(330px + 180px);
    }
    a.logo-link:nth-of-type(3){
        left: calc(400px + 180px);
    }
    a.logo-link:nth-of-type(4){
        left: calc(560px + 180px);
    }
		a.logo-link:nth-of-type(5){
        left: calc(560px + 180px);
    }
		a.logo-link:nth-of-type(6){
        left: calc(720px + 165px);
    }
    a.logo-link:nth-of-type(7){
        left: calc(850px + 195px);
    }
    a.logo-link:nth-of-type(8){
        left: calc(965px + 210px);
    }
    a.logo-link:nth-of-type(9){
        left: calc(960px + 180px);
    }
    a.logo-link:nth-of-type(10){
        left: calc(1080px + 180px);
    }
}

/* SECONDARY SIGN UP PAGE CSS HACKS BKP` */

/* header#masthead{
display: none !important;
}
body{
background-image: url('https://www.bemaker.eu/wp-content/uploads/2018/04/bg.png') !important;
background-color: rgba(0,0,0,0.20);
background-blend-mode: overlay;
background-repeat: no-repeat;
}
.col-lg-8{
max-width: 100% !important;
margin-top: 20vh;
}
header.entry-header{
display:none !important;
}
div.entry-content{
margin: 0 auto !important;
background-color: white;
margin-left: auto !important;
outline: 1px dotted black;
}
div#footer-widget{
display: none !important;
} */
